<div class="container">
  <div class="left">
    <div class="login-box">

        <div class="steps-container">
            <div *ngFor="let stepLabel of ['Email', 'OTP', 'Reset Password']; let i = index" 
                class="step" 
                [ngClass]="{'active': step === i + 1}">
            </div>
        </div>

      <form *ngIf="step === 1" [formGroup]="emailForm" (ngSubmit)="sendOtp()">
        <h2>Forgot Password</h2>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" required />
        </mat-form-field>
        <button class="log" type="submit">Send OTP</button>
      </form>

    <form *ngIf="step === 2" [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
        <h2>Verify OTP</h2>
        <p>Enter the 5-digit OTP sent to your email.</p>
            <div class="otp-container">
                <input *ngFor="let ctrl of otpControls; let i = index"
                 type="text"
                 maxlength="1"
                 class="otp-box"
                [formControl]="ctrl"
                (keyup)="onOtpInput($event, i)"
                #otpInput/>
            </div>
            <p *ngIf="!otpExpired">OTP expires in {{ (otpValidUntil - currentTime) / 1000 | number:'1.0-0' }} seconds</p>

        <button class="log" type="submit">Verify OTP</button>
    </form>


     
      <form *ngIf="step === 3" [formGroup]="passwordForm" (ngSubmit)="resetPassword()">
        <h2>Reset Password</h2>

        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>New Password</mat-label>
          <input matInput formControlName="password" type="password" required />
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" type="password" required />
        </mat-form-field>

        <div *ngIf="passwordForm.hasError('mismatch')" style="margin-bottom: 18px;">
          <mat-error>Passwords do not match</mat-error>
        </div>

        <button class="log" type="submit">Reset Password</button>
      </form>

    </div>
  </div>

  <div class="right"></div>
</div>
